.Login{
    position:absolute;
    width:30%;
    height:30%;
    left:40%;
    top:40%;
}
#text1{
    font-family:DFKai-sb;
}
.account{
    padding:3%;
}
.password{
    padding:3%;
}
.Login_button{
    padding:5% 0% 0% 30%;
}